<div class="three columns">
  <ul class="menu-nav">
    <li><%= link_to "Pizza", menu_pizza_path %></li>
    <li><%= link_to "Sandwiches", menu_sandwiches_path %></li>
    <li><%= link_to "Pasta", menu_pasta_path %></li>
    <li><%= link_to "Wings", menu_wings_path %></li>
    <li><%= link_to "Sides", menu_sides_path %></li>
  </ul>
</div>