<div class="row">
  
  <!-- Menu navigation -->
  <%= render 'navigation' %>
  
  <div class="nine columns">
    <h4>Pasta</h4>
    
    <h5 class="menu-item-title">Bucket Spaghetti</h5>
    <div class="menu-item-container">
      <%= image_tag("placeholder_menu_image.png") %>
      <p>Fred Bread and Marinara</p>
    </div>
    <div class="clearer"></div>
    
    <h5 class="menu-item-title">Ravioli</h5>
    <div class="menu-item-container">
      <%= image_tag("placeholder_menu_image.png") %>
      <p>Fred Bread (1/2) and Marinara</p>
    </div>
    <div class="clearer"></div>
    
    <h5 class="menu-item-title">Rigatoni Alfredo</h5>
    <div class="menu-item-container">
      <%= image_tag("placeholder_menu_image.png") %>
      <p>Fred Bread (1/2) and Alfredo</p>
    </div>
    <div class="clearer"></div>
    
    <h5 class="menu-item-title">Spaghetti Meatballs</h5>
    <div class="menu-item-container">
      <%= image_tag("placeholder_menu_image.png") %>
      <p>Fred Bread (1/2), Marinara and Meatball</p>
    </div>
    <div class="clearer"></div>
    
    <h5 class="menu-item-title">Cheese Tortellini</h5>
    <div class="menu-item-container">
      <%= image_tag("placeholder_menu_image.png") %>
      <p>Fred Bread (1/2) and Pesto</p>
    </div>
    <div class="clearer"></div>
    
  </div>
</div>