<div class="row">
  
  <!-- Menu navigation -->
  <%= render 'navigation' %>
  
  <div class="nine columns">
    <h4>Specialty Pizzas</h4>
    
    <h5 class="menu-item-title">Super-rrrific</h5>
    <div class="menu-item-container">
      <%= image_tag("placeholder_menu_image.png") %>
      <p>Our homemade sauce, mozzarella cheese, pepperoni, mushrooms, onions, green peppers and Italian sausage.</p>
    </div>
    <div class="clearer"></div>
    
    <h5 class="menu-item-title">Veggie-rrrific</h5>
    <div class="menu-item-container">
      <%= image_tag("placeholder_menu_image.png") %>
      <p>Our homemade sauce, mozzarella cheese, mushrooms, onions, green peppers, black olives, tomatoes, fresh garlic and sprinkled with our special herb oil.</p>
    </div>
    <div class="clearer"></div>
    
    <h5 class="menu-item-title">Meat Slammer</h5>
    <div class="menu-item-container">
      <%= image_tag("placeholder_menu_image.png") %>
      <p>Our homemade sauce, mozzarella cheese, pepperoni, salami, Canadian bacon, ground beef and Italian sausage.</p>
    </div>
    <div class="clearer"></div>
    
    <h5 class="menu-item-title">Chicken Garlic</h5>
    <div class="menu-item-container">
      <%= image_tag("placeholder_menu_image.png") %>
      <p>Marinated chicken strips, green onions, mushrooms, roasted red peppers and tomatoes over a white garlic sauce with mozzarella cheese.</p>
    </div>
    <div class="clearer"></div>
    
    <h5 class="menu-item-title">Pesto-rrrific</h5>
    <div class="menu-item-container">
      <%= image_tag("placeholder_menu_image.png") %>
      <p>Pesto sauce with mozzarella cheese, artichoke hearts, chicken strips, roasted red peppers and tomatoes.</p>
    </div>
    <div class="clearer"></div>
    
    <h5 class="menu-item-title">Hawaiian Delight</h5>
    <div class="menu-item-container">
      <%= image_tag("placeholder_menu_image.png") %>
      <p>Canadian bacon, pineapple tidbits, bacon, red onions and fresh garlic over our special BBQ sauce (BBQ, honey & pineapple) and mozzarella cheese.</p>
    </div>
    <div class="clearer"></div>
    
    <h5 class="menu-item-title">MediterraneanExperience</h5>
    <div class="menu-item-container">
      <%= image_tag("placeholder_menu_image.png") %>
      <p>Olive oil, mozzarella cheese, fresh garlic, chicken strips fused with Italian seasonings, feta cheese, fresh spinach and sundried tomatoes.</p>
    </div>
    <div class="clearer"></div>
    
    <h5 class="menu-item-title">Forgettaboutit</h5>
    <div class="menu-item-container">
      <%= image_tag("placeholder_menu_image.png") %>
      <p>You Can't When You Taste This Delicious Pizza! Large sauce and cheese pizza topped with tasty Italian sausage, sliced red onions and green peppers tossed in olive oil and fresh garlic, lightly sprinkled with crushed red pepper and Parmesean cheese.</p>
    </div>
    <div class="clearer"></div>
    
    <h5 class="menu-item-title">Smokey Bourbon BBQ Chicken</h5>
    <div class="menu-item-container">
      <%= image_tag("placeholder_menu_image.png") %>
      <p>Bourbon BBQ Sauce brushed lightly on crust, topped with whole milk mozzarella cheese, chicken strips, red onions, jalepenños, cheddar and fresh cilantro.</p>
    </div>
    <div class="clearer"></div>
    
    <h4>Build your own</h4>
    <h5 class="menu-item-title">Toppings</h5>
    <p>Bell Peppers, Real Bacon, Sun Dried Tomatoes , Roasted Red Peppers, Pepperoni, Canadian Bacon, Salami, Italian Sausage, Ground Beef, Linguica, Anchovy, Onions, Pineapple, Black Olives, Mushrooms, Fresh Garlic, Jalapenos, Tomatoes, Artichoke Hearts, and Chicken.</p>
  </div>
</div>