<div class="row">
  
  <!-- Menu navigation -->
  <div class="three columns">
    <ul class="menu-nav">
      <li><%= link_to "Sandwiches", menu_sandwiches_path %></li>
      <li><%= link_to "Pasta", menu_pasta_path %></li>
      <li><%= link_to "Wings", menu_wings_path %></li>
      <li><%= link_to "Sides", menu_sides_path %></li>
      <li><%= link_to "Drinks", menu_drinks_path %></li>
    </ul>
  </div>
  
  <div class="menu-item-container nine columns">
    <h4>Specialty Pizzas</h4>
    <h6 class="menu-item-title">Super-rrrific</h6>
    <p>Our homemade sauce, mozzarella cheese, pepperoni, mushrooms, onions, green peppers and Italian sausage.</p>
    <h6 class="menu-item-title">Veggie-rrrific</h6>
    <p>Our homemade sauce, mozzarella cheese, mushrooms, onions, green peppers, black olives, tomatoes, fresh garlic and sprinkled with our special herb oil.</p>
    <h6 class="menu-item-title">Meat Slammer</h6>
    <p>Our homemade sauce, mozzarella cheese, pepperoni, salami, Canadian bacon, ground beef and Italian sausage.</p>
    <h6 class="menu-item-title">Chicken Garlic</h6>
    <p>Marinated chicken strips, green onions, mushrooms, roasted red peppers and tomatoes over a white garlic sauce with mozzarella cheese.</p>
    <h6 class="menu-item-title">Pesto-rrrific</h6>
    <p>Pesto sauce with mozzarella cheese, artichoke hearts, chicken strips, roasted red peppers and tomatoes.</p>
    <h6 class="menu-item-title">Hawaiian Delight</h6>
    <p>Canadian bacon, pineapple tidbits, bacon, red onions and fresh garlic over our special BBQ sauce (BBQ, honey & pineapple) and mozzarella cheese.</p>
    <h6 class="menu-item-title">MediterraneanExperience</h6>
    <p>Olive oil, mozzarella cheese, fresh garlic, chicken strips fused with Italian seasonings, feta cheese, fresh spinach and sundried tomatoes.</p>
    <h6 class="menu-item-title">Forgettaboutit</h6>
    <p>You Can't When You Taste This Delicious Pizza! Large sauce and cheese pizza topped with tasty Italian sausage, sliced red onions and green peppers tossed in olive oil and fresh garlic, lightly sprinkled with crushed red pepper and Parmesean cheese.</p>
    <h6 class="menu-item-title">Smokey Bourbon BBQ Chicken</h6>
    <p>Bourbon BBQ Sauce brushed lightly on crust, topped with whole milk mozzarella cheese, chicken strips, red onions, jalepenños, cheddar and fresh cilantro.</p>
    <h4>Build your own</h4>
    <h6 class="menu-item-title">Toppings</h6>
    <p>Bell Peppers, Real Bacon, Sun Dried Tomatoes , Roasted Red Peppers, Pepperoni, Canadian Bacon, Salami, Italian Sausage, Ground Beef, Linguica, Anchovy, Onions, Pineapple, Black Olives, Mushrooms, Fresh Garlic, Jalapenos, Tomatoes, Artichoke Hearts, and Chicken.</p>
  </div>
</div>