<div class="container">
  <div class="row">

    <!-- Menu navigation -->
    <%= render 'navigation' %>

    <div class="nine offset-by-three columns">
      <h4>Sides</h4>

      <h5 class="menu-item-title">Fred Bread</h5>
      <div class="menu-item-container">
        <%= image_tag("placeholder_menu_image.png") %>
        <p>Garlic Butter and Parmesan</p>
      </div>
      <div class="clearer"></div>

      <h5 class="menu-item-title">Tony T's Bread</h5>
      <div class="menu-item-container">
        <%= image_tag("placeholder_menu_image.png") %>
        <p>Tony T's Bread</p>
      </div>
      <div class="clearer"></div>

      <h5 class="menu-item-title">Peno Bread</h5>
      <div class="menu-item-container">
        <%= image_tag("placeholder_menu_image.png") %>
        <p>Garlic Butter and Parmesan with jalepeños</p>
      </div>
      <div class="clearer"></div>

      <h5 class="menu-item-title">Cinnamon Bread</h5>
      <div class="menu-item-container">
        <%= image_tag("placeholder_menu_image.png") %>
        <p>Cinnamon Bread</p>
      </div>
      <div class="clearer"></div>

      <h5 class="menu-item-title">Garden Salad</h5>
      <div class="menu-item-container">
        <%= image_tag("placeholder_menu_image.png") %>
        <p>Romaine Lettuce, Spring Mix, Cucumber, Tomato, Green Bell Pepper and Red Onions</p>
      </div>
      <div class="clearer"></div>

      <h5 class="menu-item-title">Antipasto Salad</h5>
      <div class="menu-item-container">
        <%= image_tag("placeholder_menu_image.png") %>
        <p>Salami, Canadian Bacon, Black Olives, Mozzarella, Cucumber, Red Onions, Tomato, Green Bell Pepper, Romaine Lettuce and Spring Mix</p>
      </div>
      <div class="clearer"></div>

      <h5 class="menu-item-title">Drinks</h5>
      <div class="menu-item-container">
        <%= image_tag("placeholder_menu_image.png") %>
        <p>Pepsi, Diet Pepsi, Cherry Pepsi, Root Beer, Mountain Dew, Dr. Pepper, Orange Crush, Sierra Mist</p>
      </div>
      <div class="clearer"></div>

    </div>
  </div>
</div>