<p id="notice"><%= notice %></p>

<h1>Listing Applicants</h1>

<table>
  <thead>
    <tr>
      <th>Last name</th>
      <th>First name</th>
      <th>Middle initial</th>
      <th>Street address</th>
      <th>State</th>
      <th>Zip</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Dob</th>
      <th>Social sec</th>
      <th>Position</th>
      <th>Citizen</th>
      <th>Worked for</th>
      <th>Worked for when</th>
      <th>Felony</th>
      <th>Felony explanation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applicants.each do |applicant| %>
      <tr>
        <td><%= applicant.last_name %></td>
        <td><%= applicant.first_name %></td>
        <td><%= applicant.middle_initial %></td>
        <td><%= applicant.street_address %></td>
        <td><%= applicant.state %></td>
        <td><%= applicant.zip %></td>
        <td><%= applicant.phone %></td>
        <td><%= applicant.email %></td>
        <td><%= applicant.dob %></td>
        <td><%= applicant.social_sec %></td>
        <td><%= applicant.position %></td>
        <td><%= applicant.citizen %></td>
        <td><%= applicant.worked_for %></td>
        <td><%= applicant.worked_for_when %></td>
        <td><%= applicant.felony %></td>
        <td><%= applicant.felony_explanation %></td>
        <td><%= link_to 'Show', applicant %></td>
        <td><%= link_to 'Edit', edit_applicant_path(applicant) %></td>
        <td><%= link_to 'Destroy', applicant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Applicant', new_applicant_path %>
