<div class="container">
  <div class="row page-title">
    <h2>Contact</h2>
  </div>


  <div class="row contact-form">
    <div class="seven columns">
      
    </div>
    <div class="five columns">
      <%= form_for @contact do |f| %>
        <div>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div>
          <%= f.label :email %>
          <%= f.email_field :email %>
        </div>
        <div>
          <%= f.label :comment %>
          <%= f.text_area :comment %>
        </div>
        <%= f.submit 'Submit', class: 'button' %>
      <% end %>
    </div>
  </div>
</div>