<!DOCTYPE html>
<html>
<head>
  <title>Cenario's Pizza</title>
  <meta charset="UTF-8">
  
  <!-- Mobile specific meta viewport (never forget to add this for site responsiveness on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
</head>
<body>
  <section class="app-layout-header">
    <div class="top-accent"></div>
    
    <!-- Logo and button navigation container -->
    <div class="container">
      <div class="row">
        <div class="four columns">
          <%= link_to image_tag("logo_vector.svg", class: 'logo-image'), root_path %>
        </div>
        <div class="eight columns buttons-offset">
          <%= link_to "Home", root_path, class: 'button' %>
          <%= link_to "Menu", menu_path, class: 'button' %>
          <%= link_to "Locations", locations_path, class: 'button' %>
          <%= link_to "Contact", contact_path, class: 'button' %>
        </div>
      </div>
    </div>
    <!-- End Logo and button navigation container -->
  </section>
  
  <!-- yield section -->
  <section class="app-layout-yield">
    <%= yield %>
  </section>
</body>
</html>