<!DOCTYPE html>
<html>
<head>
  <title>Cenario's Pizza</title>
  <%= favicon_link_tag 'favicon2.ico' %>
  <meta charset="UTF-8">
  
  <!-- Mobile specific meta viewport (never forget to add this for site responsiveness on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google maps API script import -->
  <%= javascript_include_tag "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry" %>
  <%= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
  <!-- <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">  TRY NEW FONTS -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="wrap">
    <!-- Default navigation container -->
    <div id="nav">
      <div class="navbar-container">
        <header>
          <div id="logo">
            <%= link_to image_tag("CenariosLogo.png"), root_path %>
          </div>
          <div class="nav-wrap">
            <nav>
              <a href="#" id="menu-icon" style="background: url(<%= image_url("menu-icon.png") %>) center;"></a>
              <ul>
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Menu", menu_pizza_path %></li>
                <li><%= link_to "Locations", locations_path %></li>
                <li><%= link_to "Contact", new_contact_path %></li>
                <li><%= link_to "Order Now", order_path %></li>
              </ul>
            </nav>
          </div>
          <div class="order-now">
            <a href="<%= order_path %>">
              <div id="order-now-text">Order Now!</div>
              <%= image_tag("wholePizza.svg") %>
            </a>
          </div>
        </header>
      </div>
    </div>

    <!-- yield section -->
    <div id="app-layout-yield">
      <div class="container">
        <% flash.each do |key, value| %>
        <%= content_tag :p, value, class: "alert alert-#{key}" %>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </div>
  <!-- End wrap div -->

  <div id="footer">
    <div class="container">
      <div class="row footer-block">
        <div class="three columns">
          <h5>Site Navigation</h5>
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Menu", menu_path %></li>
            <li><%= link_to "Locations", locations_path %></li>
            <li><%= link_to "Contact Us", new_contact_path %></li>
            <li><%= link_to "Jobs", "#Jobs" %></li>
            <li><%= link_to "Specials", "#Specials" %></li>
          </ul>
        </div>
        <div class="six columns">
          <h5>About Us</h5>
          <p>Cenario's Pizza has been part of Solano County's history since 1986 when Alexander DiManno and his son Mario DiManno first opened their doors in Vacaville California, and to this day we are committed to delivering on their promise of a quality pizza at a great price. We are family owned and believe that staying family owned is the best way to do that.</p>
        </div>
        <div class="three columns">
          <h5>Join our email list!</h5>
          <p>Receive weekly emails with our newest specials</p>
          <div id="email-list-button">
            <%= link_to "Sign Up Now!", "#" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row copyright">
      <p>Copyright © 2016 Cenario's Pizza. All rights reserved.</p>
    </div>
  </div>
</body>
</html>