<!DOCTYPE html>
<html>
<head>
  <title>Cenario's Pizza</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      
      <div class="col-md-5">
        <%= link_to(image_tag("logo"), root_path) %>
      </div>
      
      <!-- Navigation pills -->
      <div class="col-md-6 nav-pill-offset">
        <nav class="nav" role="navigation">
          <ul class="nav nav-pills red">
            <li role="presentation" class="active"><%= link_to("Home", root_path) %></li>
            <li role="presentation"><a href="/menu">Menu</a></li>
            <li role="presentation"><a href="/locations">Locations</a></li>
            <li role="presentation"><a href="/contact">Contact</a></li>
          </ul>
        </nav>
    </div>
      
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="container">
  </div>
  <div class="container">
    <%= yield %>
  </div>
  <div class="container">
    <!-- Footer goes here -->
  </div>

</body>
</html>